<% if can? :manage, User %>
    <h1> INVITE MEMBER </h1>

     <%= form_with url: create_user_path do |f| %>
        <div>
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div>
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
        </div>


        <div>
            <%= f.submit "Invite" %>
        </div>
    <% end %>

    <%= link_to 'Logout',destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
<% end %>